.containerFaq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid gainsboro;
    padding: 30px 0;
    width: 100%;
    gap: 30px;
}

.containerFaq section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.containerFaq section h2 {
    line-height: 1.6;
    font-size: 16px;
    color: black;
}

.containerFaq section button {
    background: none;
    font-size: 15px;
    color: black;
    border: none;
}

.containerFaq .desc {
    line-height: 1.6;
    color: #878A8C;
    font-size: 15px;
}