.containerFaq {
    border-bottom: 1px solid gainsboro;
    padding: 30px 0;
}

.containerFaq section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    gap: 30px;
}

.containerFaq section h2 {
    font-size: 20px;
    color: #060E10;
    max-width: 80%;
}

.containerFaq section button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.containerFaq .desc {
    color: #404040;
    font-size: 18px;
    line-height: 1.6;
}