.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #060E10;
    padding: 150px 30px;
}

.home-container .details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.home-container .details-container .title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #F2F2F2;
}

.home-container .details-container .desc {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.home-container .details-container .start-button {
    background-color: #18262b;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 800;
    padding: 0 60px;
    color: white;
    height: 70px;
    border: none;
}

.faq-container {
    padding: 150px 30px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.faq-container .title {
    font-size: 18px;
    font-weight: 800;
    color: #060E10;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060E10;
    padding: 30px;
}

footer .copyright-text {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #F2F2F2;
}

@media (max-width: 940px) {
    .home-container .details-container .title {
        font-size: 40px;
    }

    .home-container .details-container .desc {
        line-height: 1.5;
    }

    .home-container .details-container .start-button {
        font-size: 18px;
        padding: 0 40px;
        height: 60px;
    }
}

@media (max-width: 745px) {
    .home-container .details-container .title {
        font-size: 30px;
    }

    .home-container .details-container .desc {
        line-height: 1.5;
        max-width: 400px;
    }

    .home-container .details-container .start-button {
        font-size: 16px;
        height: 50px;
    }

    footer {
        padding: 30px;
    }

    footer .copyright-text {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .home-container .details-container .title {
        font-size: 25px;
    }

    footer .copyright-text {
        font-size: 10px;
    }
}