header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #060e10;
    padding: 50px;
}

header .link .title {
    font-size: 18px;
    font-weight: 800;
    color: white;
    font-family: "Poppins";
}

header .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header .links-container .link {
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 600;
    color: white;
}

header .links-container .link:hover {
    opacity: 50%;
    transition: 0.5s;
}

header .links-container i {
    display: none;
    color: white;
    font-size: 18px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060e10;
    flex-direction: column;
    padding: 350px 50px;
    position: relative;
    margin-bottom: 350px;
}

.home-container .details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-width: 50%;
    margin: 0 auto;
    color: white;
    bottom: -45%;
    gap: 30px;
}

.home-container .details-container .title {
    font-size: 50px;
    text-align: center;
    font-family: "Poppins";
}

.home-container .details-container .desc {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font-family: "Poppins";
    padding: 0 30px;
}

.home-container .details-container .start-button {
    color: #fff;
    background-color: #18262b;
    transition: 0.5s;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    height: 70px;
    padding: 0 60px;
    font-size: 20px;
    font-weight: 800;
}

.home-container .details-container .start-button:hover {
    border: 1px solid white;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 60px;
}

.about-container .details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    gap: 30px;
}

.about-container .details-container .title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: "Poppins";
}

.about-container .details-container .desc {
    font-size: 18px;
    line-height: 1.6;
    color: #18262b;
    text-align: center;
}

.about-container .more-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 30px;
}

.about-container .more-container .box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid gainsboro;
    padding: 30px;
    width: 100%;
    gap: 15px;
}

.about-container .more-container .title {
    font-size: 22px;
    color: #060e10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-container .more-container .desc {
    font-size: 18px;
    line-height: 1.6;
    color: #18262b;
}

.faq-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.faq-container .title {
    font-size: 24px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060e10;
    padding: 30px;
}

footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

footer .footer-container .copyright-text {
    font-family: "Poppins";
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    color: white;
}

@media (max-width: 1040px) {
    .home-container .details-container {
        max-width: 70%;
    }
}

@media (max-width: 940px) {
    header .links-container .link {
        display: none;
    }

    header .links-container i {
        display: flex;
    }
}

@media (max-width: 840px) {
    .home-container .details-container .title {
        font-size: 40px;
    }

    .about-container {
        padding: 0;
    }

    .about-container .details-container {
        max-width: 80%;
    }

    .about-container .more-container {
        padding: 0 15px;
    }

    .faq-container {
        padding: 30px;
    }
}

@media (max-width: 740px) {
    header {
        padding: 30px;
    }

    .home-container .details-container .title {
        font-size: 30px;
    }

    .about-container .more-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    footer .footer-container .copyright-text {
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    .home-container .details-container .desc {
        padding: 0;
    }
}

@media (max-width: 490px) {
    .home-container .details-container {
        padding: 0;
        max-width: 80%;
    }

    .about-container .details-container .title,
    .home-container .details-container .title {
        font-size: 25px;
    }

    .home-container .details-container .start-button {
        padding: 0 30px;
    }
}