.start-container {
    padding: 30px;
    background-color: #F2F2F2;
}

.start-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 32px;
    padding: 0 60px;
    height: 80px;
}

.start-container header .container-title .title {
    font-size: 18px;
    font-weight: 800;
}

.start-container header .container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.start-container header .container-links li .link {
    font-size: 15px;
}

.start-container header .container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.start-container header .container-buttons button {
    border-radius: 6px;
    padding: 0 30px;
    font-size: 15px;
    border: none;
    height: 50px;
}

.start-container header .container-buttons button:nth-child(1) {
    background-color: #1B2626;
    color: white;
}


.start-container header .container-buttons button:nth-child(2) {
    background-color: #6C868C;
    color: white;
}

.start-container .container-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;
    gap: 100px;
}

.start-container .container-start .container-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.start-container .container-start .container-details .title {
    font-size: 50px;
    color: #1B2626;
    font-weight: 800;
}

.start-container .container-start .container-details .desc {
    font-size: 18px;
    line-height: 1.6;
}

.start-container .container-start .container-details button {
    font-size: 15px;
    color: white;
    height: 60px;
    padding: 0 60px;
    border-radius: 8px;
    border: none;
    background-color: #1B2626;
}

.start-container .container-start .container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.start-container .container-start .container-banner .banner {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.container-contribution {
    padding: 200px 30px;
}

.container-contribution .container-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container-contribution .container-details .title {
    font-size: 50px;
    font-weight: 800;
    color: #1B2626;
}

.container-contribution .container-details .desc {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.container-contribution .container-details button {
    background-color: #1B2626;
    border-radius: 8px;
    padding: 0 30px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    height: 60px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    background-color: #1B2626;
    padding: 60px;
}

footer .copyright-text {
    font-size: 15px;
    font-weight: 800;
    color: #f2f2f2;
    max-width: 600px;
}

footer .top {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #363d3d;
    color: #f2f2f2;
    font-size: 18px;
    border-radius: 8px;
}

@media (max-width: 1180px) {

    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 40px;
    }
}


@media (max-width: 1000px) {
    .start-container .container-start {
        gap: 50px;
    }
}

@media (max-width: 975px) {

    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 30px;
    }
}

@media (max-width: 940px) {
    .start-container header .container-links {
        display: none;
    }

    .start-container .container-start {
        flex-direction: column;
    }


    .start-container .container-start .container-details {
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 40px;
        text-align: center;
    }

    .start-container .container-start .container-details .desc {
        text-align: center;
    }
}

@media (max-width: 835px) {
    .start-container .container-start {
        align-items: flex-start;
    }
    .start-container .container-start .container-details {
        align-items: flex-start;
        max-width: 700px;
        margin: 0;
    }

    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 45px;
        text-align: left;
    }

    .container-contribution .container-details {
        align-items: flex-start;
        max-width: 100%;
    }

    .container-contribution .container-details .desc {
        max-width: 700px;
        text-align: left;
        margin: 0;
    }

    .start-container .container-start .container-details .desc {
        text-align: left;
    }

}

@media (max-width: 700px) {
    .start-container header {
        padding: 0 30px;
    }

    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .start-container .container-start .container-details .title,
    .container-contribution .container-details .title {
        font-size: 30px;
    }
}